

body{
    box-sizing: content-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 10rem);
    gap: 30px;
    background-color: cadetblue;
}
.finalizada{
    background: rgb(228, 112, 188);
    border: 0.4rem solid black;
    border-radius: 5rem;
    padding: 1rem; 
    grid-column: 2/3;
    grid-row: 3/4;
    align-self: center;
} 
.remera{
    padding: 5px;
    border: 0.4rem solid blue;
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    background-color: darkcyan;
} 
select{
    width: 80%;
    box-sizing: content-box;
}
button{
    width: 50%;
    background-color: rgb(120, 168, 168);
}
.remera p{
    text-align: center;
    font-weight: bold;
    box-sizing: content-box;
}
.total{
    font-size: 0.5 rem ;
    font-weight: bold;
    color: rgb(40, 5, 236);
    box-sizing: content-box;
}