
html {
    font-size: 62.5%;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.remera{
    background-color: rgba(232, 176, 238, 0.913);
    font-size: 1.5rem;
    height: 25rem;
    border: solid rgb(224, 44, 158) 0.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 5rem 0 5rem 0;
    padding: 1.2rem ;
}
.remera h3{
    text-align: center;
}
#finalizada{
    padding: 0.5rem;
}

#finalizada p{
    font-size: 1.4rem;
    background-color: rgb(233, 213, 232);
}
.parraJs{
    padding: 0.3rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    
}

button{
    margin-bottom: 0.5rem;
}
